<% date = "" %>
<% @entries.each do |entry| %>
  <% if date != entry.date %>
    <% date = entry.date %>
    <div class="date"><%= date.strftime("%B %C, %G") %></div>
  <% end %>
    <div class="entry" id="<%= dom_id(entry) %>">
      <div class="edit">
         <%= link_to 'Edit', edit_entry_path(entry) %>
         <%= link_to 'Delete', entry, method: :delete, data: { confirm: 'Are you sure?' }  %>
      </div>
     
      <div class="time"><%= entry.time.strftime("%l:%M %p") %></div>
      <div class="food"><%= entry.food %></div>
      <div class="situation"><%= entry.situation %></div>
    </div>
  
<% end %>
