<div class="message success"><h2><%= notice %></h2></div>

<div class="date"><%= @entry.date.strftime("%B %C, %G") %></div>

<div class="entry">
 
  <div class="time"><%= @entry.time.strftime("%l:%M %p") %></div>
  <div class="food"><%= @entry.food %></div>
  <div class="situation"><%= @entry.situation %></div>
</div>

<%= link_to 'Back', entries_path, {:class=>'button-gray'} %>

