<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @entry.date %>
</p>

<p>
  <strong>Time:</strong>
  <%= @entry.time %>
</p>

<p>
  <strong>Food:</strong>
  <%= @entry.food %>
</p>

<p>
  <strong>Situation:</strong>
  <%= @entry.situation %>
</p>

<%= link_to 'Edit', edit_entry_path(@entry) %> |
<%= link_to 'Back', entries_path %>
